$block: '.changePasswordPopup';

#{$block} {
    width: 400px;
    padding: 40px;
    display: flex;
    flex-flow: column;
    align-items: stretch;
    gap: 8px;

    &__form {
        width: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
        gap: 8px;

        & > *:not(:last-child) {
            width: 100%;
        }
    }
}
