$block: '.imageUpload';

#{$block} {
    max-width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    gap: 8px;

    &__input {
      display: none;
    }

    &__buttons {
      display: flex;
      flex-flow: column;
      gap: 8px;
    }
  }
  