.author-page {
    padding: 50px 100px;
}

.author-page-books-title {
    margin: 2rem 0;
}

.author-page-list {
    width: fit-content;
    padding: 20px 2px;
    display: flex;
    flex-direction: row;
    gap: 40px;
}